$flex-map: (
  start: flex-start,
  end: flex-end,
  between: space-between,
  around: space-around,
  stretch: stretch,
  center: center,
);

@function _get-flx-value($key) {
  @return map-get($flex-map, $key);
}

@mixin flexbox($jc: center, $al: center) {
  align-items: _get-flx-value($al);
  display: flex;
  justify-content: _get-flx-value($jc);
}

@mixin inline-flexbox($jc: center, $al: center) {
  align-items: _get-flx-value($al);
  display: inline-flex;
  justify-content: _get-flx-value($jc);
}

@mixin column-flexbox($jc: center, $al: center) {
  align-items: _get-flx-value($al);
  display: flex;
  flex-direction: column;
  justify-content: _get-flx-value($jc);
}
