%avatar-base {
  background: url('/assets/images/img-user-default.png') no-repeat center;
  background-size: contain;
  border-radius: 50%;
  display: block;
  overflow: hidden;

  img {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.avatar-32 {
  @extend %avatar-base;
  height: 32px;
  width: 32px;
}

.avatar-24 {
  @extend %avatar-base;
  height: 24px;
  width: 24px;
}
