//sass-lint:disable-all
$font-main: 'Noto Sans KR', sans-serif;
$font-price: 'Tahoma', sans-serif;

$font-size-12: 12px;
$line-heigh-12: 16px;
$letter-spacitng-12: -0.005em;

$font-size-13: 13px;
$line-heigh-13: 20px;
$letter-spacitng-13: -0.01em;

$font-size-14: 14px;
$line-heigh-14: 24px;
$letter-spacitng-14: -0.01em;

$font-size-16: 16px;
$line-heigh-16: 24px;
$letter-spacitng-16: -0.01em;

$font-size-18: 18px;
$line-heigh-18: 28px;
$letter-spacitng-18: -0.02em;

$font-size-24: 24px;
$line-heigh-24: 34px;
$letter-spacitng-24: -0.01em;
